@tailwind base;
@tailwind components;
@tailwind utilities;

li.ant-menu-item.ant-menu-item-only-child {
    padding-left: 32px !important;
}

.ant-menu-light .ant-menu-item-selected,
.ant-menu-light>.ant-menu .ant-menu-item-selected {
    background-color: #54A630;
}

.ant-menu-light .ant-menu-item-selected,
.ant-menu-light>.ant-menu .ant-menu-item-selected {
    color: white;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #54A630;
    border-color: #54A630;
}


.ant-checkbox .ant-checkbox-inner {
    border: 1px solid #54A630;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
    background-color: #54A630;
    border-color: transparent;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
:where(.css-dev-only-do-not-override-17sses9).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
    border-color: #54A630;
}